---
let theprops = Astro.props
console.log(theprops);

const contentArr = [
"Introduction to the module",
"hi there! Welcome to the class",
"Content",
"The app requirements",
"How we are going to store the data",
"Data modeling",
"PocketBase installation",
"Explore PocketBase",
"The collections structure",
"The collections API Rules",
"Users collection options",
"The PocketBase API Preview",
"PocketBase Logs",
"PocketBase System settings",
"Create the projects collection on PocketBase",
"Create the tasks collection on PocketBase",
"Editing the API Rules",
"Wrapping up the module",
]
const anchorLink = contentArr.map(i => {
    return `#"${i.replaceAll(' ', '-')}`
})
console.log(anchorLink);
---

{theprops.title}

{
    contentArr.map(i => <a href={'#'+ i.replaceAll(' ', '-').toLowerCase()}>{i}</a><br/>)
}