---
const arrTopics = [
"Introduction to the module",
"Create a dashboard",
"Start fetching data from PocketBase",
"Show the projects list on the page",
"Create a layout for the app",
"Show projects nicely",
"Show the project status",
"The problem we’re facing with static site rendering",
"Enable SSR mode in Astro",
"SSR vs SSG mode",
"Add a way to create a new project from the app",
"Create a modal container",
"Time to introduce htmx",
"Show the modal",
"Add the form to the modal",
"Close the modal when we click outside of it",
"Create the new project",
"Create the single project page",
"Add a way to add tasks to a project",
"List the project tasks",
"Troubleshooting",
"Wrapping up"
]

---

<aside class="text-white">
  <div
    class="flex flex-col rounded-lg bg-zinc-900 px-5 py-4 sm:py-2.5 text-xl sm:text-2xl md:text-3xl text-white uppercase text-center font-extrabold font-rounded"
  >
    <!-- <div class="flex-col mb-6 rounded-lg bg-zinc-800"> -->
    <a href="">Back</a>
    <a href="/index1">index 1</a>
    <a href="/my">my1</a>
    <a href="/index2">Module 2</a>
    <a href="/my2">My2</a>
    <a href="/index3">index 3 </a>
    <a href="/my3">My3</a>
    <a href="/index4">index 4</a>
    <a href="/blog/my4#">My4</a>
    <a href="/blog/my4#content">my4 #Content</a>
    <a href="/blog/my4#the-web">My4 #The Web</a>
    <a href="/blog/my4#the-web">my4 #The Web</a>
    <a href="/blog/my4#the-web">The Web</a>
    <a href="/blog/my4#the-web">The Web</a>
    <a href="/blog/my3#">My3</a>
    <a href="/blog/my3#">My3</a>
    <a href="/blog/my3#Introduction">Introduction</a>
    <a href="/blog/my3#create-a-dashboard">Create a dashboard</a>
    <a href="/blog/my3#start-fetching-data-from-pocketbase">Start fetching data from PocketBase</a>
    <a href="/blog/my3#show-the-projects-list-on-the-page">Show the projects list on the page</a>
    <a href="/blog/my3#create-a-layout-for-the-app">Create a layout for the app</a>


    <!-- </div> -->
  </div>
</aside>
